.formulario {
  font-family: "bebas";
  display: flex;
  align-content: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.mito {
  font-family: "mitof";
  color: white;
  display: flex;
  padding: 201px;
  justify-content: center;
}

.mito-dpr {
  font-size: 70px;
}

@media screen and (max-width: 500px) {
  .mito-dpr {
    transform: translateY(80px);
  }
}
.grid-musica {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.35fr;
  grid-template-rows: 1.58fr 0.25fr 0.15fr;
  gap: 33px 0px;
  grid-template-areas: "tracklist portada aside" "preview preview preview" "descrp descrp descrp";
}

.tracklist {
  grid-area: tracklist;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2.5fr;
  gap: 22px 9px;
  grid-template-areas: "titulo titulo" "parte1 parte2";
  justify-items: center;
  justify-content: center;
  margin-top: 1px;
}

.titulo {
  grid-area: titulo;
  align-self: flex-start;
  margin-top: 100px;
  color: white;
  text-decoration: underline;
  font-size: 30px;
}

.parte1 {
  grid-area: parte1;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.parte1 li {
  font-size: 25px;
  color: white;
  list-style: none;
  padding: 10px;
}

.parte2 {
  grid-area: parte2;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.parte2 li {
  font-size: 25px;
  color: white;
  list-style: none;
  padding: 10px;
}

.portada {
  grid-area: portada;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.portada p {
  font-size: 29px;
  color: white;
  margin-bottom: 40px;
}

.miito {
  width: 454px;
  height: 454px;
  margin-top: 60px;
  border-radius: 16px;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.plt {
  width: 79px;
  height: 79px;
  border-radius: 16px;
}

.preview {
  grid-area: preview;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.descrp {
  grid-area: descrp;
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.set {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  padding: 40px;
}

@media screen and (max-width: 500px) {
  .titulo {
    grid-area: titulo;
    font-size: 25px;
  }
  .set {
    padding: 20px;
    margin-left: 2px;
  }
  .parte1 {
    grid-area: parte1;
    margin-right: 0px;
  }
  .parte1 li {
    font-size: 20px;
  }
  .parte2 {
    grid-area: parte2;
    margin-left: 0px;
  }
  .parte2 li {
    transform: translateY(-10px);
    font-size: 20px;
  }
  .tracklist {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .plt {
    width: 55px;
    height: 55px;
    margin-left: 10px;
  }
  .miito {
    height: 187px;
    width: 187px;
    margin-top: 110px;
  }
  .preview {
    grid-area: preview;
    display: flex;
    align-items: center;
  }
  .descrp {
    grid-area: descrp;
    margin-top: 0px;
  }
  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portada {
    padding-top: 1px;
  }
  .grid-musica {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1.1fr 1.7fr 0.7fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "portada aside" "tracklist tracklist" "preview preview" "descrp descrp";
  }
}
.about_ian-h1 {
  font-family: "bebas";
  color: white;
  margin: 40px;
  display: flex;
  justify-content: center;
}

.about_ian-p {
  color: white;
  margin: 40px;
}

.grid_about-fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.3fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas: "uno dos" "cinco cinco";
}

.img_1 {
  width: 509px;
  height: 650px;
  grid-area: uno;
  margin-left: 120px;
  justify-self: center;
}

.img_2-1 {
  width: 477px;
  height: 268px;
  grid-area: dos;
  display: flex;
}

.img2y3 {
  display: flex;
}

.grid_about-foto2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 24px 0px;
  grid-template-areas: "dos dos" "tres cuatro";
}

.img_2-2 {
  width: 210px;
  height: 355px;
  grid-area: tres;
  margin-right: 5px;
}

.img_2-3 {
  width: 210px;
  height: 355px;
  grid-area: cuatro;
  margin-left: 50px;
}

.img_3 {
  width: 999px;
  height: 561px;
  grid-area: cinco;
  justify-self: center;
  margin-right: 110px;
}

@media screen and (max-width: 500px) {
  .about_ian-h1 {
    display: flex;
    margin: 0px;
    padding-top: 30px;
  }
  .about_ian-h1 h1 {
    align-self: center;
    padding-top: 10px;
  }
  .about_ian-p p {
    font-size: 15px;
    padding: 5px;
  }
  .img_1 {
    width: 255px;
    height: 325px;
    grid-area: uno;
    margin-left: 60px;
    justify-self: start;
  }
  .img_2-1 {
    width: 255px;
    height: 134px;
    grid-area: dos;
    justify-self: center;
  }
  .img2y3 {
    display: flex;
    transform: translateX(60px);
  }
  .img_2-2 {
    width: 105px;
    height: 177px;
    grid-area: tres;
    margin-right: 0px;
  }
  .img_2-3 {
    width: 105px;
    height: 177px;
    grid-area: cuatro;
  }
  .img_3 {
    width: 255px;
    height: 134px;
    grid-area: cinco;
    margin-top: 20px;
    margin-left: 60px;
    justify-self: start;
  }
  .grid_about-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "uno uno" "dos dos" "cinco cinco";
    justify-content: start;
    align-items: start;
  }
  .grid_about-foto2 {
    padding-left: 0%;
    justify-content: center;
  }
}
.grid-video {
  display: grid;
  margin-top: 20px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 14px;
  grid-template-areas: "ianv ianv ianv" "livev livev livev";
}

.dprianV {
  grid-area: ianv;
}

.seraph {
  height: 261px;
  width: 406px;
}

.srdcat {
  height: 261px;
  width: 406px;
}

.youso {
  height: 261px;
  width: 406px;
}

.dprliveV {
  grid-area: livev;
}

.legacy {
  height: 261px;
  width: 406px;
}

.crab {
  height: 261px;
  width: 406px;
}

.neon {
  height: 261px;
  width: 406px;
}

@media screen and (max-width: 500px) {
  .dprianV {
    grid-area: ianv;
  }
  .seraph {
    height: 217px;
    width: 339px;
  }
  .srdcat {
    height: 217px;
    width: 339px;
  }
  .youso {
    height: 217px;
    width: 339px;
  }
  .legacy {
    height: 217px;
    width: 339px;
  }
  .crab {
    height: 217px;
    width: 339px;
  }
  .neon {
    height: 217px;
    width: 339px;
  }
  .grid-video {
    display: grid;
    margin-left: 40px;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "ianv" "ianv" "ianv" "livev" "livev" "livev";
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(27, 27, 27);
  font-family: "alatsi";
}

@font-face {
  font-family: "alatsi";
  src: url(../fuente/Alatsi-Regular.ttf);
}
@font-face {
  font-family: "mitof";
  src: url(../fuente/MITO.ttf);
}
@font-face {
  font-family: "bebas";
  src: url(../fuente/BebasNeue-Regular.ttf);
}
.barra {
  font-family: "bebas";
  display: flex;
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.barra li {
  font-size: 40px;
}

/*# sourceMappingURL=styles.css.map */
