.formulario{
    font-family: "bebas";
    display: flex;
    align-content: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}