.mito{
    font-family: "mitof";
    color: white;
    display: flex;
    padding: 201px;
    justify-content: center;
}
.mito-dpr{
    font-size: 70px;
}
@media screen and (max-width: 500px){
    .mito-dpr{
        transform: translateY(80px);
}
}
@media screen and (min-width: 768px){
    .mito-dpr{
        transform: translateY(80px);
}
}