.grid-video{
    display: grid;
    margin-top: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 35px 14px; 
    grid-template-areas: 
      "ianv ianv ianv"
      "livev livev livev";
}
.dprianV{
    grid-area: ianv;
    iframe{
        height: 261px;
        width: 406px;
    }
}
.dprliveV{
    grid-area: livev;
    iframe{
        height: 261px;
        width: 406px;
    }
}
@media screen and (min-width: 368px) and (max-width: 767px){
    .dprianV{
        iframe{
            height: 217px;
            width: 339px;
        }
    }
    .dprliveV{
        iframe{
            height: 217px;
            width: 339px;
        }
    }
    .grid-video{
        display: grid;
        margin-left: 40px;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
          "ianv"
          "ianv"
          "ianv"
          "livev"
          "livev"
          "livev";
    }

}
@media screen and (min-width: 768px)and (max-width: 1024px){

    .grid-video{
        display: grid;
        margin-left: 40px;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
          "ianv"
          "ianv"
          "ianv"
          "livev"
          "livev"
          "livev";
    }
    .dprianV{
        iframe{
            height: 434px;
            width: 678px;
        }
    }
    .dprliveV{
        iframe{
            height: 434px;
            width: 678px;
        }
    }

}