@import "contacto";
@import "home";
@import "musica";
@import "about";
@import "video";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(47, 47, 47);
    font-family: "alatsi";
}
@font-face {
    font-family: "alatsi";
    src: url(../fuente/Alatsi-Regular.ttf);
}
@font-face {
    font-family: "mitof";
    src: url(../fuente/MITO.ttf);
}
@font-face {
    font-family: "bebas";
    src: url(../fuente/BebasNeue-Regular.ttf);
}
.barra{
    font-family: "bebas";
    display: flex;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    li{
        font-size: 40px;
    }
}
.navbar navbar-light p-3 {
    background-color: #303030;
}
.item-text{
    color: black;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.undr{
    text-decoration: underline;
    color: black;
}